<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Game Page</title>
</head>

<body>
    <nav>
        <a href="/">
            <button>
                Home
            </button>
        </a>


        {% if session.username %}
        <div>
            <div>
                Welcome, {{ session.username }}!
            </div>
            <a href="/logout">
                <button>
                    Logout
                </button>
            </a>
        </div>

        {% else %}
        <div>
            <a href="/login">
                <button>
                    Login
                </button>
            </a>
            <a href="/signup">
                <button>
                    Sign Up
                </button>
            </a>
        </div>
        {% endif %}
    </nav>

    <main>
        <section class="p-2">
            <div class="game-page">
                {% set game = game %}
                <div>
                    <img src={{ game.image }} alt={{ game.name }}>
                </div>
                <div>
                    <h2>{{ game.name }}</h2>
                    <p>{{ game.description }}</p>
                    <button>Vote</button>
                </div>
            </div>
        </section>

        <section class="p-2">
            <h2>Comments</h2>
            <div>
                <form action="/comment" method="POST">
                    <div>
                        <textarea class="textarea" name="comment" id="" rows="8"></textarea>
                    </div>
                    <button type="submit">Comment</button>
                </form>
            </div>
            <div>
                <div class="p-2 my-2 light-background">
                    <div>
                        <p>
                            This is a comment
                            This is a comment
                            This is a comment
                        </p>
                        <p class="italic theme-color">
                            by username
                        </p>
                    </div>
                    <div class="like-button">
                        <a href="/like">
                            &hearts;
                        </a>
                        0
                    </div>
                </div>
            </div>
        </section>

    </main>
</body>

</html>