<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Game Page</title>
</head>

<body>
    <nav>
        <button>
            <a href="/">
                Home
            </a>
        </button>
        <div>
            <button>
                <a href="/login">
                    Login
                </a>
            </button>
            <button>
                <a href="/signup">
                    Sign Up
                </a>
            </button>
        </div>
    </nav>
    <h1>HY Game Awards</h1>
</body>

</html>