<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Home Page</title>
</head>

<body>
    <nav>
        <a href="/">
            <button>
                Home
            </button>
        </a>

        {% if session.user_id %}
        <div>
            <div>
                Welcome, {{ session.username }}!
            </div>
            <a href="/logout">
                <button>
                    Logout
                </button>
            </a>
        </div>

        {% else %}
        <div>
            <a href="/login">
                <button>
                    Login
                </button>
            </a>
            <a href="/signup">
                <button>
                    Sign Up
                </button>
            </a>
        </div>
        {% endif %}
    </nav>

    <main>
        <h1>HY Game Awards</h1>
        <section class="py-2">
            <h2 class="px-2">Current leaders</h2>
            <div class="px-4 py-2 leaderboard">

                <div class="leaderboard-background">
                    {% set game = top3_games[0] %}
                    <img src={{ game.image }} alt={{ game.name }}>
                </div>

                {% for game in top3_games %}
                <div class="game-card top-{{ loop.index }}">
                    <img src={{ game.image }} alt={{ game.name }}>
                    <div class="flex-horizontal gap-1">
                        <div class="rank">{{ loop.index }}</div>
                        <h3 class="light-color">{{ game.name }}</h3>
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>

        <section class="p-2">
            <h2>Nominees</h2>
            <div>
                {% for game in games %}
                <div class="nominee-card py-2">
                    <img src={{ game.image }} alt={{ game.name }}>
                    <div class="nominee-card-info">
                        <h3>{{ game.name }}</h3>
                        <p>{{ game.description }}</p>
                        <div class="flex-horizontal gap-05">

                            {% if game.voted %}
                            <div class="flex-horizontal gap-05">
                                <button class="voted">Voted</button>
                                <form action="/unvote/{{ game.id }}" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <button type="submit">Undo</button>
                                </form>
                            </div>

                            {% else %}
                            <div>
                                <form action="/vote/{{ game.id }}" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <button type="submit">Vote</button>
                                </form>
                            </div>
                            {% endif %}
                            
                            <a href="/gamepage/{{ game.id }}">
                                <button>Read More</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </main>

</body>

</html>