<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Login</title>
</head>

<body>
    <nav>
        <a href="/">
            <button>
                Home
            </button>
        </a>
        <div>
            <a href="/signup">
                <button>
                    Sign Up
                </button>
            </a>
        </div>
    </nav>

    <main class="login-signup-page">
        <h1>Login</h1>

        {% if error %}
        <p class="error px-2">{{ error }}</p>
        {% endif %}

        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </main>
</body>

</html>