<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Sign Up</title>
</head>

<body>
    <nav>
        <a href="/">
            <button>
                Home
            </button>
        </a>
        <div>
            <a href="/login">
                <button>
                    Login
                </button>
            </a>
        </div>
    </nav>

    <main class="login-signup-page">
        <h1>Sign Up</h1>

        {% if error %}
        <p class="error px-2">{{ error }}</p>
        {% endif %}

        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Username" maxlength="15">
            <input type="password" name="password" placeholder="Password" maxlength="60"> 
            <input type="password" name="password_again" placeholder="Confirm Password">
            <button type="submit">Sign Up</button>
        </form>
    </main>
</body>

</html>